<header class="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage" aria-label="GoGlobal">
        <svg
          focusable="false"
          role="img"
          class="custom-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 148 30"
          height="30"
          width="148"
          aria-label="Return Home">
          <title>GoGlobal Homepage</title>
          <text x="10" y="20" font-size="25" font-weight="bold" fill="white">GoGlobal</text>
        </svg>
      </a>
    </div>
  </div>
</header>