<div>
  <div>
  <h1 class="govuk-heading-l">govuk-heading-l</h1>
  <h1 class="govuk-heading-m">govuk-heading-m</h2>
  <h1 class="govuk-heading-s">govuk-heading-s</h3>


    <%= link_to "Ruby learning journal", root_path %>
    <h2 class="govuk-heading-s">govuk-heading-l</h1>
    <h1 class="govuk-form-group govuk-form-group--error"><%= t('branding.title') %></div>
    <div class="navbar-link">
      <%= link_to "New Entry", new_journal_path %>
    </div>
  </div>
</div>